{{title "Personeelsdatabank " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}

<div class="container-flex--contain">
	<div class="u-border--light--bottom">
	  <div class="u-padding--round--small">
	    <h1 class="h4 u-spacer--tiny">Personeelsdatabank Gemeente Gent{{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}</h1>
	    <div class="grid">
	      <div class="col--6-12 col--1-1--s">
	        <p class="text-light">Overzicht aantallen</p>
	      </div>
	      <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container-flex--scroll u-padding--round">

	  <div class="u-spacer">
	    <div class="u-padding--tb--small u-border--light--bottom">
	      <div class="grid">
	        <div class="col--8-12 col--1-1--m">
	          <h2 class="h5 u-spacer--tiny">Aantal Voltijds Equivalenten &mdash; VTE</h2>
	          <ul class="inline-list inline-list--bordered small">
	            <li>
				       		0 VTE's
			        </li>
	            <li>
				       		0 Deeltijds
			        </li>
	            <li>
				       		0 Voltijds
				      </li>
	          </ul>
	        </div>
	        <div class="col--4-12 col--1-1--m u-align-right--tablet-portrait-up">
	        	{{#link-to "personeelsdatabank.voltijdsequivalenten" class="button button--small button--narrow u-spacer--tiny"}}<i class="vi vi-arrow button__icon">&nbsp;</i>Bekijk en bewerk details{{/link-to}}
	          <p class="text-fade smaller">Laatst aangepast op 24.08.2018</p>
		      </div>
	      </div>
	    </div>
	  </div>

	  <div class="u-spacer">
	    <div class="u-padding--tb--small u-border--light--bottom">
	      <div class="grid">
	        <div class="col--8-12 col--1-1--m">
	          <h2 class="h5 u-spacer--tiny">Aantal werknemers &mdash; koppen</h2>
	          <ul class="inline-list inline-list--bordered small">
	            <li>
				       		0 koppen
			        </li>
	            <li>
				       		0 Deeltijds
			        </li>
	            <li>
				       		0 Voltijds
				      </li>
	          </ul>
	        </div>
	        <div class="col--4-12 col--1-1--m u-align-right--tablet-portrait-up">
	        	{{#link-to "personeelsdatabank.aantalwerknemers" class="button button--small button--narrow u-spacer--tiny"}}<i class="vi vi-arrow button__icon">&nbsp;</i>Bekijk en bewerk details{{/link-to}}
	          <p class="text-fade smaller">Laatst aangepast op 24.08.2018</p>
		      </div>
	      </div>
	    </div>
	  </div>

	</div>
</div>
