{{title "Personeelsdatabank " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}

<div class="container-flex--contain">
	<div class="u-border--light--bottom">
	  <div class="u-padding--round--small">
	    <h1 class="h4 u-spacer--tiny">Personeelsdatabank {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}</h1>
	    <div class="grid">
	      <div class="col--6-12 col--1-1--s">
	        <p class="text-light">Overzicht aantallen</p>
	      </div>
	      <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container-flex--scroll u-padding--round">

	  <div class="u-spacer">
	    <div class="u-padding--tb--small u-border--light--bottom">
	      <div class="grid">
	        <div class="col--8-12 col--1-1--m">
	          <h2 class="h5 u-spacer--tiny">Aantal Voltijds Equivalenten &mdash; VTE</h2>
	          <ul class="inline-list inline-list--bordered small">
	            <li>
				       		0 VTE's
			        </li>
	            <li>
				       		0 Deeltijds
			        </li>
	            <li>
				       		0 Voltijds
				      </li>
	          </ul>
	        </div>
	        <div class="col--4-12 col--1-1--m u-align-right--tablet-portrait-up">
		        <a class="toggle--arrow-down js-accordion__toggle"><i class="toggle__icon"></i>Bekijk en bewerk details</a>
		      </div>
	      </div>
	    </div>
	  </div>

	  <div class="u-spacer">
	    <div class="u-padding--tb--small u-border--light--bottom">
	      <div class="grid">
	        <div class="col--8-12 col--1-1--m">
	          <h2 class="h5 u-spacer--tiny">Aantal werknemers &mdash; koppen</h2>
	          <ul class="inline-list inline-list--bordered small">
	            <li>
				       		0 koppen
			        </li>
	            <li>
				       		0 Deeltijds
			        </li>
	            <li>
				       		0 Voltijds
				      </li>
	          </ul>
	        </div>
	        <div class="col--4-12 col--1-1--m u-align-right--tablet-portrait-up">
		        <a class="toggle--arrow-down js-accordion__toggle"><i class="toggle__icon"></i>Bekijk en bewerk details</a>
		      </div>
	      </div>
	    </div>
	  </div>

	  <div class="u-spacer">
	    <div class="u-padding--tb--small u-border--light--bottom">
	      <div class="grid">
	        <div class="col--8-12 col--1-1--m">
	          <h2 class="h5 u-spacer--tiny">Aantal Voltijds Equivalenten &mdash; VTE</h2>
	          <ul class="inline-list inline-list--bordered small">
	            <li>
				       		0 VTE's
			        </li>
	            <li>
				       		0 Deeltijds
			        </li>
	            <li>
				       		0 Voltijds
				      </li>
	          </ul>
	        </div>
	        <div class="col--4-12 col--1-1--m u-align-right--tablet-portrait-up js-accordion--open">
		        <a class="toggle--arrow-down js-accordion__toggle"><i class="toggle__icon"></i>Bekijk en bewerk details</a>
		        <div class="button-group u-spacer--top--tiny">
			        <button class="button button--alt button--small button--narrow ember-view">Verwerp wijzigingen</button>
			        <button class="button button--small button--narrow ember-view">Bewaar</button>
			      </div>
		      </div>
	      </div>

			  <table class="data-table data-table--matrix data-table--lined data-table--zebra u-spacer--top--small">
			    <thead>
			      <tr>
			        <th rowspan="3" style="max-width: 12rem;">Niveau</th>
			        <th colspan="4">Voltijds</th>
			        <th colspan="4">Deeltijds</th>
			        <th rowspan="2"></th>
			      </tr>
			      <tr>
			        <th colspan="2">Vastbenoemd</th>
			        <th colspan="2">Contractueel</th>
			        <th colspan="2">Vastbenoemd</th>
			        <th colspan="2">Contractueel</th>
			      </tr>
			      <tr>
			        <th><i class="fa fa-male"></i></th>
			        <th><i class="fa fa-female"></i></th>
			        <th><i class="fa fa-male"></i></th>
			        <th><i class="fa fa-female"></i></th>
			        <th><i class="fa fa-male"></i></th>
			        <th><i class="fa fa-female"></i></th>
			        <th><i class="fa fa-male"></i></th>
			        <th><i class="fa fa-female"></i></th>
			        <th>Totaal<br>VTE's</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <th style="max-width: 12rem;">Niveau A</th>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td><strong>0</strong></td>
			      </tr>
			      <tr>
			        <th style="max-width: 12rem;">Niveau B</th>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td><strong>0</strong></td>
			      </tr>
			      <tr>
			        <th style="max-width: 12rem;">Niveau C</th>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td><strong>0</strong></td>
			      </tr>
			      <tr>
			        <th style="max-width: 12rem;">Niveau D</th>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td><strong>0</strong></td>
			      </tr>
			      <tr>
			        <th style="max-width: 12rem;">Niveau E</th>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td>
			      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
				      </td>
			        <td><strong>0</strong></td>
			      </tr>
			      <tr>
			        <th style="max-width: 12rem;">Subtotaal</th>
			        <th>0 <span class="text-fade"><i class="fa fa-xs fa-male"></i></span></th>
			        <th>0 <span class="text-fade"><i class="fa fa-xs fa-female"></i></span></th>
			        <th>0 <span class="text-fade"><i class="fa fa-xs fa-male"></i></span></th>
			        <th>0 <span class="text-fade"><i class="fa fa-xs fa-female"></i></span></th>
			        <th>0 <span class="text-fade"><i class="fa fa-xs fa-male"></i></span></th>
			        <th>0 <span class="text-fade"><i class="fa fa-xs fa-female"></i></span></th>
			        <th>0 <span class="text-fade"><i class="fa fa-xs fa-male"></i></span></th>
			        <th>0 <span class="text-fade"><i class="fa fa-xs fa-female"></i></span></th>
			        <th><strong>0</strong></th>
			      </tr>
			      <tr>
			        <th style="max-width: 12rem;">Subtotaal</th>
			        <th colspan="2">0 vastbenoemd</th>
			        <th colspan="2">0 contractueel</th>
			        <th colspan="2">0 vastbenoemd</th>
			        <th colspan="2">0 contractueel</th>
			        <th><strong>0</strong></th>
			      </tr>
			      <tr>
			        <th style="max-width: 12rem;">Totaal</th>
			        <th colspan="4"><strong>0 voltijds</strong></th>
			        <th colspan="4"><strong>0 deeltijds</strong></th>
			        <th><strong>0</strong></th>
			      </tr>
			    </tbody>
			  </table>

				<div class="alert alert--tiny u-spacer--top--small">
				  <div class="alert__content">
						<div class="alert__title">VTE's invullen</div>
				    <div class="alert__message">
				      <p>Het personeelsaantal uitgedrukt in voltijdse equivalenten geeft zicht op de personeelscapaciteit die op een bepaald moment effectief ter beschikking is om de taken van de organisatie uit te voeren. Iedere tewerkstelling moet uitgedrukt worden in een percentage van een voltijds tewerkgesteld personeelslid. Eén VTE (voltijds equivalent of tewerkgesteld volgens een regime van 38/38sten ) is een personeelscapaciteit die overeenkomt met een medewerker in een 100% werkregime. <a href="#">Meer informatie over de personeelsaantallen invoeren kan u terugvinden in de handleiding</a>.</p>
				    </div>
				  </div>
				</div>
	    </div>
	  </div>

{{!-- 		<h2 class="h5 u-spacer--small">Aantal Voltijds Equivalenten &mdash; VTE</h2>
		<div class="u-table-overflow u-spacer--large">
		  <table class="data-table data-table--matrix data-table--lined data-table--zebra">
		    <thead>
		      <tr>
		        <th rowspan="3" style="max-width: 12rem;">Niveau</th>
		        <th colspan="4">Voltijds</th>
		        <th colspan="4">Deeltijds</th>
		        <th rowspan="2"></th>
		      </tr>
		      <tr>
		        <th colspan="2">Vastbenoemd</th>
		        <th colspan="2">Contractueel</th>
		        <th colspan="2">Vastbenoemd</th>
		        <th colspan="2">Contractueel</th>
		      </tr>
		      <tr>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th>Totaal<br>VTE's</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <th style="max-width: 12rem;">Niveau A</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau B</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau C</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau D</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau E</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Subtotaal<br><i class="fa fa-male"></i>/<i class="fa fa-female"></i></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Subtotaal vastbenoemd<br>/ contractueel</th>
		        <th colspan="2"><strong>0 vastbenoemd</strong></th>
		        <th colspan="2"><strong>0 contractueel</strong></th>
		        <th colspan="2"><strong>0 vastbenoemd</strong></th>
		        <th colspan="2"><strong>0 contractueel</strong></th>
		        <th><strong>0</strong></th>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Totaal</th>
		        <th colspan="4"><strong>0</strong></th>
		        <th colspan="4"><strong>0</strong></th>
		        <th><strong>0</strong></th>
		      </tr>
		    </tbody>
		  </table>
		</div> --}}

{{!-- 		<h2 class="h5 u-spacer--small">Aantal werknemers &mdash; koppen</h2>
		<div class="u-table-overflow">
		  <table class="data-table data-table--matrix data-table--lined data-table--zebra">
		    <thead>
		      <tr>
		        <th rowspan="3">Niveau</th>
		        <th colspan="4">Voltijds</th>
		        <th colspan="4">Deeltijds</th>
		        <th rowspan="2"></th>
		      </tr>
		      <tr>
		        <th colspan="2">Vastbenoemd</th>
		        <th colspan="2">Contractueel</th>
		        <th colspan="2">Vastbenoemd</th>
		        <th colspan="2">Contractueel</th>
		      </tr>
		      <tr>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th>Totaal<br>koppen</th>
		      </tr>
		    </thead>
		    <tbody class=" text-center">
		      <tr>
		        <th style="max-width: 12rem;">Niveau A</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau B</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau C</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau D</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau E</th>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td>
		        	<input class="input-field input-field--block" type="number" value="0" name="quantity">
		        </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Subtotaal<br><i class="fa fa-male"></i>/<i class="fa fa-female"></i></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		        <th><strong>0</strong></th>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Subtotaal vastbenoemd<br>/ contractueel</th>
		        <th colspan="2"><strong>0 vastbenoemd</strong></th>
		        <th colspan="2"><strong>0 contractueel</strong></th>
		        <th colspan="2"><strong>0 vastbenoemd</strong></th>
		        <th colspan="2"><strong>0 contractueel</strong></th>
		        <th><strong>0</strong></th>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Totaal</th>
		        <th colspan="4"><strong>0</strong></th>
		        <th colspan="4"><strong>0</strong></th>
		        <th><strong>0</strong></th>
		      </tr>
		    </tbody>
		  </table>
		</div> --}}
	</div>
</div>
